.country {
  border: 2px solid gray;
  border-radius: 16px;
  padding: 20px;
  background-color: azure;
  color: black;
}
.country img {
  width: 320px;
  height: 170px;
  border-radius: 16px;
}

.country-img {
  background-color: darkgrey;
  padding: 20px;
  border-radius: 16px;
}
